global:
  resolve_timeout: 5m
  smtp_smarthost: 'localhost:25'
  smtp_from: 'alertmanager@devops-capstone.local'

templates:
  - '/etc/alertmanager/templates/*.tmpl'

route:
  group_by: ['alertname', 'environment']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'jenkins-webhook'

  routes:
    - match:
        severity: critical
      receiver: 'jenkins-webhook'
      repeat_interval: 5m

receivers:
  - name: 'jenkins-webhook'
    webhook_configs:
      - url: 'http://{{ jenkins_ip }}:8080/generic-webhook-trigger/invoke?token=alertmanager-rollback'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']
