global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    environment: production
    project: devops-capstone

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - "/etc/prometheus/alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - '{{ jenkins_ip }}:9100'
          - '{{ staging_ip }}:9100'
          - '{{ blue_ip }}:9100'
          - '{{ green_ip }}:9100'
          - '{{ monitoring_ip }}:9100'
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.+'
        target_label: instance

  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - 'http://{{ blue_ip }}:3001/health'
          - 'http://{{ green_ip }}:3001/health'
          - 'http://{{ staging_ip }}:3001/health'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115

  - job_name: 'blackbox_exporter'
    static_configs:
      - targets: ['blackbox_exporter:9115']
